.project-card {
  padding: 1rem;
  background-color: rgb(18, 18, 18);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
}

.project-card > h1 {
  font-size: 2rem;
  font-weight: 600;
}

.project-card > p {
  color: grey;
}

.project-links * {
  cursor: pointer;
}

.project-links button {
  padding: 0.5rem;
  background-color: black;
  color: #edf2f7;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 4px;
}

.project-links *:hover {
  background-color: #edf2f7;
  color: black;
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s; */
  transition: ease-in-out;
  transition-delay: 0.1s;
}
