.app-content {
  width: 80vw;
  margin: 0px auto;
  font-family: var(--font-family-primary);
}

.navbar {
  /* font-family: var(--font-family-secondary); */
  position: sticky;
  top: 0px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0rem;
}

.logo {
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--primary-color);
  background: linear-gradient(
    90deg,
    rgb(157, 134, 233) 0%,
    rgb(97, 218, 251) 90%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.nav-links {
  font-size: 1.1rem;
  font-weight: 500;
}

.nav-links > a:hover {
  color: var(--primary-color);
}

.hamburger {
  display: none;
}

.hero-section {
  width: 100%;
  display: flex;
  padding: 10rem 0rem;
}

.hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-left > h1 {
  font-size: 3.5rem;
}

.hero-left > h3 {
  color: #a2a2a3;
  font-weight: 500;
  font-size: 1.5rem;
}

.hero-links button {
  background-color: #274597;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--font-family-primary);
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hero-right > img {
  height: 100%;
  width: 80%;
}

.project-section {
  padding-top: 3rem;
}

/* .project-section > h1 {
  font-size: 2.5rem;
  padding-bottom: 3rem;
} */

.project-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(180px, 220px);
  gap: 1rem;
  background-color: black;
}

.skills-section {
  padding: 10rem 0rem 7rem 0rem;
}

/* .skills-section > h1 {
  font-size: 2.5rem;
  padding-bottom: 3rem;
} */

.skills {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-items: start;
  grid-template-rows: minmax(50px, 100px);
  gap: 2rem;
}

.skills > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills img {
  width: 50px;
  height: 50px;
}

.contact-section {
  padding: 10rem 0rem;
}

/* .contact-section > h1 {
  font-size: 2.5rem;
  padding-bottom: 3rem;
} */

.contact-section > h3 {
  font-size: 1.2rem;
  color: grey;
  font-weight: 400;
}

.contact-links {
  display: flex;
  align-items: center;
}

.contact-links svg {
  font-size: 2rem;
  margin-right: 2rem;
}

footer {
  padding: 3rem 0rem;
  background-color: rgb(18, 18, 18);
  width: 100vw;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > h4 {
  /* text-align: center; */
  font-weight: 400;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1366px) {
  .app-content {
    width: 85vw;
  }
}

@media screen and (max-width: 1266px) {
  .app-content {
    width: 90vw;
  }
}

@media screen and (max-width: 1192px) {
  /* .hero-section {
    justify-content: center;
    align-items: center;
  } */

  .hero-left {
    width: 100%;
    align-items: center;
  }

  .hero-left > h3 {
    text-align: center;
  }

  .hero-right {
    display: none;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .app-content {
    width: 85vw;
  }

  .project-container {
    grid-template-columns: 1fr;
  }

  .hamburger {
    display: block;
    font-size: 1.5rem;
  }

  .nav-links {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
  }

  .nav-links > a {
    margin: 1rem 0rem;
  }

  .nav-links.active {
    left: 0;
  }

  .hero-section {
    padding: 3rem 0rem;
  }

  .hero-left > h1 {
    font-size: 2rem;
  }

  .hero-left > h3 {
    font-size: 0.85rem;
  }
}
